@font-face {
	font-family: "veggibol";
	src: url("fonts/veggibol.eot");
	src: url("fonts/veggibol.eot?#iefix") format("embedded-opentype"),
	     url("fonts/veggibol.woff") format("woff"),
	     url("fonts/veggibol.ttf") format("truetype"),
	     url("fonts/veggibol.svg#veggibol") format("svg");;
}

@font-face {
	font-family: "veggimed";
	src: url("fonts/veggimed.eot");
	src: url("fonts/veggimed.eot?#iefix") format("embedded-opentype"),
	     url("fonts/veggimed.woff") format("woff"),
	     url("fonts/veggimed.ttf") format("truetype"),
	     url("fonts/veggimed.svg#veggimed") format("svg");;
}

@font-face {
	font-family: "veggilig";
	src: url("fonts/veggilig.eot");
	src: url("fonts/veggilig.eot?#iefix") format("embedded-opentype"),
	     url("fonts/veggilig.woff") format("woff"),
	     url("fonts/veggilig.ttf") format("truetype"),
	     url("fonts/veggilig.svg#veggilig") format("svg");;
}

html,body{text-align:center;}
body{font-family: veggimed, Tahoma, Verdana, Arial, sans-serif; font-size:19px;}
hr{border-color:#4E387B; border-width:2px; margin-top:2px;}

#wrapper{width:100%;}
#page{margin:0px auto; padding:0px; text-align:left; width:703px;}
#central{width:100%; padding-top: 25px;}

.titulo{height:72px; background:url("../images/logo.png") no-repeat; padding-left: 215px;}
.eslogan{color:#4E387B; font-size:32px; font-weight:bold; float: left; text-align: center; margin-top:3px;}
.cuerpo{position: relative; width: 100%;}
.login{left: 27%; position: absolute; top: 125px; width: 46%;}
.loginTexto{width:100%; margin-bottom:10px; font-weight:bold;}
.caja{border-color: #4E387B; border-radius: 15px; float: right; padding-left: 5px; width: 180px;}
.loginBoton{width:100%; text-align: center; margin-top: 20px;}
.boton{background-color: #4E387B; border-radius: 15px; color: #FFFFFF;}
.botonGrande{font-size: 28px; padding: 5px 10px;}

.menuArriba{margin-top: 45px; width:100%; height:30px;}
.formulario{width:100%; padding-top:10px;}
#formGestion .columna2{width:43%; margin-right:13%;}
.fila{width:100%; margin-bottom:15px; float:left;}
.columna3{width:31%; margin-right:3%; float:left;}
.columna2{float:left;}
.ultimaCol{margin-right:0%!important;}
.cajaCorta{width: 131px;}
.textoGestion{font-weight:bold;}
.botonPequeno{font-size:16px;}

.imagenMenu{float:right; cursor:pointer;}
.clienteFactura{float: left; padding-top: 6px; font-weight:bold; font-size:22px;}
.telefonoCliente{margin-left:20px;}

.tabla{width:100%; margin: 30px 0;}
.filaTabla{display: table; width: 100%; height:30px;}
.columnaTabla{border-right: 2px solid black; display: table-cell; text-align: center; vertical-align: middle; width: 16%;}
#tablaCliente .columnaCompartida{width:48%;}
.iconoTabla{width:4%; border-right:0 none;}
.cabecera{width:16%; border-bottom:2px solid #4E387B; font-weight:bold; font-size:25px;}
.par{background-color:#4E387B; color:#FFFFFF;}
.impar{background-color:#BA8DDF; font-weight:bold;}

#formFacturacion{margin-top:20px;}
#formFacturacion .columna2{width:46%; margin-right:8%;}

#tablaCierre .columnaCompartida{width:12%;}
.columnaTratamiento{width:52%;}


