<!DOCTYPE html>
<html data-ng-app="Cierre">
	<head>
		<meta charset="UTF-8">
		<meta name="description"content="P&aacute;gina de empleados."/>
		<meta name="keywords" content="manos, belleza, pies" />
		<meta name="viewport" content="width=device-width, user-scalable=no" />

		<title>Shangri-l&aacute;</title>
		
		<link rel="icon" type="image/png" href="../images/favicon.png" />

		<link rel="stylesheet" href="../css/base.css" />
			
	</head>
	<body data-ng-controller="CierreController">
		<div id="wrapper">
			<div id="page">
				<div id="central">
					<header class="titulo">
						<span class="eslogan">"Un lugar de felicidad permanente aislado del mundo exterior"</span>
					</header>
					<div class="cuerpo">
						<div class="menuArriba">
							<div class="clienteFactura">
								<span class="nombreCliente">{{cierre.mensajeCierre}}</span>
								<span class="telefonoCliente">{{cierre.fechaCierre}}</span>
							</div>
							<img title="Cambiar empleado" class="imagenMenu" src="../images/salir.png" style="margin-left:20px;" />
							<img title="P&aacute;gina clientes" class="imagenMenu" src="../images/cliente.png" />
						</div>
						<hr>
						<div class="sumaCierre">
							<div class="operadores">
								<div class="operador">+</div>
								<div class="operandos">
									<div data-ng-repeat="operando in cierre.valoresCierre" class="operando{{$index+1}}">
										<span>{{operando.valor | precioComa2}}</span>
										<img class="imagenOperandos" title="{{operando.title}}" data-ng-src="../images/{{operando.imagen}}.png" />
									</div>
								</div>
							</div>
							<div class="resultadoCierre" >
								<span>{{cierre.valorTotal | precioComa2}}</span>
							</div>
						</div>
						<div class="tabla" id="tablaCierre" data-ng-show="cierre.muestraTabla">
							<div class="filaTabla">
								<div class="columnaTabla cabecera">Empleado</div>
								<div class="columnaTabla cabecera">Cliente</div>
								<div class="columnaTabla cabecera columnaTratamiento">Tratamiento</div>
								<div class="columnaTabla cabecera" style="border-right:0 none;">Precio</div>
							</div>
							<div class="filaTabla" data-ng-repeat="transaccion in cierre.tablaCierre">
								<div class="columnaTabla">{{transaccion.empleado}}</div>
								<div class="columnaTabla">{{transaccion.cliente}}</div>
								<div class="columnaTabla columnaTratamiento">{{transaccion.tratamiento}}</div>
								<div class="columnaTabla columnaCompartida">{{transaccion.precio | precioComa2}}</div>
								<div class="columnaTabla iconoTabla" style="vertical-align: bottom;">
									<img title="Efectivo" data-ng-src="../images/{{transaccion.imagen}}.png" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/angular.min.js"></script>
		<script type="text/javascript" src="../js/cierre.js"></script>
	</body>
</html>